On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        modified:   ../.mono/metadata/ide_messaging_meta.txt
        modified:   ../project.godot

Untracked files:
  (use "git add <file>..." to include in what will be committed)
        ../.mono/metadata/scripts_metadata.editor
        ../.mono/metadata/scripts_metadata.editor_player

